<html>
    <head>
        <title>Add New Message</title>

    </head>
    <body>
        <form method="POST" action="/new">
            <label for="name">Name:</label>
            <input id="name" type="text" name="name" required>
            <label for="message">Message:</label>
            <textarea id="message" name="message" cols="30" rows="10" required></textarea>
            <input type="submit" value="Submit">
        </form>         
    </body>
</html>