<html>
    <head>
        <title>Message Board</title>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <h2><%= title %></h2>
        <ol>
            <% messages.forEach((message) => { %>
                <li>
                    <h4><%= message.name %> - <%= message.timestamp %></h4>
                    <div><%= message.message %></div>
                </li>
            <% }); %>
        </ol>
        <a href="/new" class="button">Add new message</a>
    </body>
</html>